<p id="notice"><%= notice %></p>

<p>
  <strong>Surname:</strong>
  <%= @consultant.surname %>
</p>

<p>
  <strong>Other names:</strong>
  <%= @consultant.other_names %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @consultant.dob %>
</p>

<p>
  <strong>Contact add:</strong>
  <%= @consultant.contact_add %>
</p>

<p>
  <strong>Sec institution:</strong>
  <%= @consultant.sec_institution %>
</p>

<p>
  <strong>Sec certificate:</strong>
  <%= @consultant.sec_certificate %>
</p>

<p>
  <strong>Sec date:</strong>
  <%= @consultant.sec_date %>
</p>

<p>
  <strong>Uni institution:</strong>
  <%= @consultant.uni_institution %>
</p>

<p>
  <strong>Uni certificate:</strong>
  <%= @consultant.uni_certificate %>
</p>

<p>
  <strong>Uni date:</strong>
  <%= @consultant.uni_date %>
</p>

<p>
  <strong>Other institution:</strong>
  <%= @consultant.other_institution %>
</p>

<p>
  <strong>Other certificate:</strong>
  <%= @consultant.other_certificate %>
</p>

<p>
  <strong>Other date:</strong>
  <%= @consultant.other_date %>
</p>

<p>
  <strong>Personal statement:</strong>
  <%= @consultant.personal_statement %>
</p>

<p>
  <strong>Hobbies:</strong>
  <%= @consultant.hobbies %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @consultant.telephone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @consultant.email %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @consultant.company_name %>
</p>

<p>
  <strong>Company business:</strong>
  <%= @consultant.company_business %>
</p>

<p>
  <strong>Area of interest:</strong>
  <%= @consultant.area_of_interest %>
</p>

<p>
  <strong>Registered:</strong>
  <%= @consultant.registered %>
</p>

<p>
  <strong>Registration details:</strong>
  <%= @consultant.registration_details %>
</p>

<%= link_to 'Edit', edit_consultant_path(@consultant) %> |
<%= link_to 'Back', consultants_path %>
