
<section class="slider-section">
     <div class="image-placeholder">

        <div class="inner-text animated flipInX">
            <h3>Our Blog </h3>
          <span class="navs-social">
            <a href="<%= "http://facebook.com/rendzinaltd" %>" target="_blank">
                <i class="fa fa-facebook"></i>
            </a> &nbsp; &nbsp;
            <a href="<%= "http://twitter.com/rendzinaltd" %>" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
            &nbsp; &nbsp;
            <a href="<%= "https://www.linkedin.com/company/5143538?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A5143538%2Cidx%3A1-1-1%2CtarId%3A1461678678178%2Ctas%3ARendzina" %>" target="_blank">
                <i class="fa fa-linkedin"></i>
            </a>
          </span>
            <br/><br/>
            <a href="<%= aboutus_path %>" class="link-design"><b> Read More <i class="fa fa-arrow-circle-right"></i> </b></a> <br/> <br/>
        </div>
     </div>
    <div class="col-md-3">

    </div>
    <div class="clearfix"></div>
    <div style="height: 200px;">

    </div>
</section>
<section class="content-section">

   <div class="container">
     <div class="real-time-contact">
       <h4 class="design" style="padding:0px;margin:0px;"> Contact: </h4><i class="fa fa-phone"4></i> <b>+234-90-54-66-0000</b><br/>
       <%= link_to root_path, class: 'send_enq' do %>
          <font class="color-green"><i class="fa fa-envelope-o"></i> Send Enquiry</font>
       <% end %>
     </div>
   </div>

         <div class="container">
           <center>
               <h3 class="design">Rendzina Blog <br/><i class="fa fa-arrow-circle-o-down"></i></h3>
               <hr/>
               <h2 style="color: #ccc"> Under Construction </h2>
           </center>

        </div>


    </div>
</section>


<section class="testimonies-section">

    <div class="container designer" >
          <div style="margin:50px auto;" class="container">
         <center>
             <h3 class="Google-font"> Twitter Tweet </h3>
        </center>
             <p class="justify">

              &nbsp;

             </p>

          </div>
     </div>
</section>
