<section class="slider-section">
     <div style="margin:auto;position:absolute;z-index: 1000;width: 100%">

        <div class="inner-text animated flipInX">
            <h3> Welcome to Rendzina Capital </h3>
          <span class="navs-social">
            <a href="#">
                <i class="fa fa-facebook"></i>
            </a> &nbsp; &nbsp;
            <a href="#">
                <i class="fa fa-twitter"></i>
            </a>
            &nbsp; &nbsp;
            <a href="#">
                <i class="fa fa-google-plus"></i>
            </a>
          </span>
            <br/><br/>
            <a href="#" class="link-design"><b> Read More About Us <i class="fa fa-arrow-circle-right"></i> </b></a> <br/> <br/>
        </div>
     </div>
    <div class="col-md-3">

    </div>
    <div class="clearfix"></div>
     <container>
			<slide style="background-image: url('assets/about_banner.jpg')"><span>Welcome to Rendzina Capital</span></slide>
			<slide style="background-image: url('assets/Epaper_5086_aimg2_0.jpg')"><span>We love what we do </span></slide>
			<slide style="background-image: url('assets/Fotolia_50400170_Subscription_Monthly_M.jpg')"><span>We do I.T </span></slide>
			<slide style="background-image: url('assets/slider2.jpg')"><span> We make your Businesses run better</span></slide>
      	<slide style="background-image: url('assets/banner2.jpg')"><span> &nbsp;</span></slide>
			<div class="next">&rtrif;</div>
			<div class="prev">&ltrif;</div>
		</container>

		<script>
      $(function(){
  			$('container').pureSlider({
  				slideNode: 'slide'
  			});
     });
		</script>

</section>

<section class="content-section">

   <div class="container">

   </div>

    <div class="container">
            <center>
                <h3 class="design">Our Services <br/><i class="fa fa-arrow-circle-o-down"></i></h3>
                <hr/>
            </center>
        </div>
        <div class="rows container">
           <div class="col-md-4">

               <div class="circle-image">
                  <%= link_to image_tag "business_starter", width:"100%" %>
               </div>
               <h4 class="design center"> Business Starter </h4>
               <p class="center">
                   Agrinvest is an agricultural investment and development solution designed to foster agro-preneurship (Agricultural Entrepreneurship) and develop opportunities in the agricultural sector into sustainable and competitive enterprises.
                   <br/>
                   <%= link_to root_path, class: "btn btn-danger btn-sm" do %>
                      view more <i class="fa fa-arrow-circle-right"></i>
                   <% end %>
               </p>

           </div>

           <div class="col-md-4">
             <div class="circle-image">
                <%= link_to image_tag "agrinvest", width:"100%" %>
             </div>
             <h4 class="design center"> Agrinvest </h4>
             <p class="center">
                Agrinvest is an agricultural investment and development solution designed to foster agro-preneurship (Agricultural Entrepreneurship) and develop opportunities in the agricultural sector into sustainable and competitive enterprises.
                <br/>
                <%= link_to root_path, class: "btn btn-warning btn-sm" do %>
                   view more <i class="fa fa-arrow-circle-right"></i>
                <% end %>
             </p>
           </div>

           <div class="col-md-4">

             <div class="circle-image">
                <%= link_to image_tag "organic_plan", width:"100%" %>
             </div>
              <h4 class="design center"> Organic Plan </h4>
              <p class="center">
                 Today’s service-based economy is fundamentally dependent on IT. Through these computer-based systems, the critical interactions at the heart of service delivery are defined, managed, recorded, and governed.<br/>
                 <%= link_to root_path, class: "btn btn-success btn-sm" do %>
                    view more <i class="fa fa-arrow-circle-right"></i>
                 <% end %>
              </p>

           </div>

           <div class="clearfix">
           </div>



        </div>
    </div>
</section>

<section class="mission-style">
  <div class="container">
          <center>
              <h3 class="design"> Mission &amp; Vision <br/><i class="fa fa-arrow-circle-o-down"></i></h3>
              <hr/>
          </center>

          <p>
            From a deep and conscious discovery of innate abilities and capacities, together with a heartfelt intention to make a contribution to the advancement of society, the Rendzina Capital has emerged.

We have observed the needs of our time and the yearning of our soul to sprout a harvest of solutions and services meeting man's quest for profitable engagement in Business and Entrepreneurship.

Rendzina Capital is that organization of intrinsic excellence, committed people with a positive and learning culture springing up superior Socio-Management Services and IT Solutions that foster growth and stability for all business people.
          </p>
      </div>

</section>

<section class="testimonies-style1">
  <div class="container">
          <center>
              <h3 class="design"> Testimonies <br/><i class="fa fa-arrow-circle-o-down"></i></h3>
              <hr/>
          </center>

          <p class="center">

Rendzina Capital is that organization of intrinsic excellence, committed people with a positive and learning culture springing up superior Socio-Management Services and IT Solutions that foster growth and stability for all business people.<br/>
  <b>John Doe</b><br/>
   <a href="#"> <i class="fa fa-arrow-circle-left"></i></a> &nbsp;    <a href="#"> <i class="fa fa-arrow-circle-right"></i></a>
 </p>
      </div>

</section>


<section class="testimonies-section">

    <div class="container designer" >
          <div style="width: 100%; max-width: 600px;margin:50px auto;">
         <center>
             <h3 class="Google-font"> Resources </h3>
             <p>
               Our bank of resources is an archive of insightful articles that does more than inform but revolutionize our thinking processes.

 Here we place in your hands, the power of knowledge with which you can transform your personal life and business.


             </p>
         </center>
          </div>
     </div>
</section>
