
<section class="slider-section">
     <div class="image-placeholder">

        <div class="inner-text animated flipInX">
            <h3> What we do </h3>
            <span class="navs-social">
              <a href="<%= "http://facebook.com/rendzinaltd" %>" target="_blank">
                  <i class="fa fa-facebook"></i>
              </a> &nbsp; &nbsp;
              <a href="<%= "http://twitter.com/rendzinaltd" %>" target="_blank">
                  <i class="fa fa-twitter"></i>
              </a>
              &nbsp; &nbsp;
          <a href="<%= "https://www.linkedin.com/company/5143538?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A5143538%2Cidx%3A1-1-1%2CtarId%3A1461678678178%2Ctas%3ARendzina" %>" target="_blank">
                  <i class="fa fa-linkedin"></i>
              </a>
            </span>
              <br/><br/>
              <a href="<%= aboutus_path %>" class="link-design"><b> Read More <i class="fa fa-arrow-circle-right"></i> </b></a> <br/> <br/>
        </div>
     </div>
    <div class="col-md-3">

    </div>
    <div class="clearfix"></div>
    <div style="height: 200px;">

    </div>
</section>

<section class="content-section">

   <div class="container">
     <div class="real-time-contact">
       <h4 class="design" style="padding:0px;margin:0px;"> Contact: </h4><i class="fa fa-phone"></i> <b>+234-90-54-66-0000</b><br/>
       <%= link_to root_path, class: 'send_enq' do %>
          <font class="color-green"><i class="fa fa-envelope-o"></i> Send Enquiry</font>
       <% end %>
     </div>
   </div>


         <div class="container">
           <center>
               <h3 class="design">Business Starter Package <br/><i class="fa fa-arrow-circle-down"></i></h3>
               <hr/>
               <!-- <h2 style="color: #ccc"> Under Construction </h2> -->
           </center>

           <p class="justify">
             <p>At Rendzina Capital we are committed to rendering services that make the pursuit of
business as less stressful as possible. To fulfill this aim of ours we choose to ease the burden
of getting a business started by providing various categories of our Business starter
packages.</p>
<p>
With our starter packages, we strive to keep your focus on one spot – Rendzina Capital. We
take away the stress and challenge of having to source multiple channels of services to help
your business get started and running. You are free to choose which of the platforms best
suit your needs per time with the option of upgrading later.
</p>
           </p>


 <div class="rows">
    <div class="col-md-5">
        <div class="package-header">
          <h4 class="design"> STAR Package</h4>
        </div>

        <ul class="l">
          <li>
            <i class="fa fa-circle-o color-green"></i> Business Name Registration
          </li>
          <li>
              <i class="fa fa-circle-o color-green"></i> A default Logo
          </li>
          <li>
              <i class="fa fa-circle-o color-green"></i> Template Website
          </li>
          <li>
              <i class="fa fa-circle-o color-green"></i> 1 Free E-book

          </li>
          <li>
              <i class="fa fa-circle-o color-green"></i> 1.5 Hours of free Consulting
          </li
          <li>
              <i class="fa fa-circle-o color-green"></i> 100 Business Cards
          </li>
        </ul>

          <div style="border-top: 2px solid yellowgreen">
            <h4 class="design">&#8358; 100, 000. 00 </h4>
          </div>
    </div>

    <div class="col-md-5">
        <div class="package-header">
          <h4 class="design"> GROWTH Package</h4>
        </div>

        <ul class="l">
          <li>
            <i class="fa fa-circle-o color-green"></i> Business Name Registration
          </li>
          <li>
              <i class="fa fa-circle-o color-green"></i> A default Logo
          </li>
          <li>
              <i class="fa fa-circle-o color-green"></i> Template Website
          </li>
          <li>
              <i class="fa fa-circle-o color-green"></i> Basic Social media optimization
          </li>

          <li>
              <i class="fa fa-circle-o color-green"></i> 1 Free E-book

          </li>
          <li>
              <i class="fa fa-circle-o color-green"></i> 3 Hours of free Consulting
          </li>
          <li>
              <i class="fa fa-circle-o color-green"></i>  A simple Business Model
          </li>

          <li>
              <i class="fa fa-circle-o color-green"></i> 100 Business Cards
          </li>
        </ul>

          <div style="border-top: 2px solid yellowgreen">
            <h4 class="design">&#8358; 150, 000. 00 </h4>
          </div>
    </div>

    <div class="col-md-5">
        <div class="package-header">
          <h4 class="design"> PREMIUM Package</h4>
        </div>

        <ul class="l">
          <li>
            <i class="fa fa-circle-o color-green"></i> Limited Liability registration
          </li>
          <li>
              <i class="fa fa-circle-o color-green"></i> Customized Logo
          </li>
          <li>
              <i class="fa fa-circle-o color-green"></i> Custom Website (no database)
          </li>
          <li>
              <i class="fa fa-circle-o color-green"></i> Basic Social media optimization
          </li>
          <li>
              <i class="fa fa-circle-o color-green"></i> 200 Business Cards

          </li>
          <li>
              <i class="fa fa-circle-o color-green"></i> 2 Free E-book

          </li>
          <li>
              <i class="fa fa-circle-o color-green"></i> 6 Hours of free Consulting
          </li>
          <li>
              <i class="fa fa-circle-o color-green"></i>  A simple Business Model
          </li>

          <li>
              <i class="fa fa-circle-o color-green"></i> Company Stamp
          </li>
        </ul>

          <div style="border-top: 2px solid yellowgreen">
            <h4 class="design">&#8358; 250, 000. 00 </h4>
          </div>
    </div>

    <div class="col-md-5">
        <div class="package-header">
          <h4 class="design"> PLATINUM Package</h4>
        </div>

        <ul class="l">
          <li>
            <i class="fa fa-circle-o color-green"></i> Limited Liability Registration
          </li>
          <li>
              <i class="fa fa-circle-o color-green"></i> Customized Logo
          </li>
          <li>
              <i class="fa fa-circle-o color-green"></i> Custom Website
          </li>
          <li>
              <i class="fa fa-circle-o color-green"></i> Standard Social Media Optimization
          </li>

          <li>
              <i class="fa fa-circle-o color-green"></i> 250 Business Cards

          </li>
          <li>
              <i class="fa fa-circle-o color-green"></i> 3 Hours of free Consulting
          </li>
          <li>
              <i class="fa fa-circle-o color-green"></i> 4 free Books
          </li>

          <li>
              <i class="fa fa-circle-o color-green"></i> 6 hours consulting
          </li>
          <li>
              <i class="fa fa-circle-o color-green"></i> Comprehensive Business

          </li>
          <li>
              <i class="fa fa-circle-o color-green"></i> Internet Modem

          </li>
          <li>
              <i class="fa fa-circle-o color-green"></i> Company stamp

          </li>
          <li>
              <i class="fa fa-circle-o color-green"></i> Company Seal
          </li>
        </ul>

          <div style="border-top: 2px solid yellowgreen">
            <h4 class="design">&#8358; 450, 000. 00 </h4>
          </div>
    </div>
    <div class="clearfix"></div>
 </div>


        </div>


    </div>
</section>


<section class="testimonies-section">

    <div class="container designer" >
          <div style="margin:50px auto;" class="container">
         <center>
             <h3 class="Google-font"> Why Rendzina ? </h3>
        </center>
        <p class="justify">

         <p> We are a team of young, energetic, responsive and intuitive thinkers in pursuit of revolutionary changes in our field of endeavor. We work closely with our clients to create the solutions they desire, that suit their intentions and exceed expectations. </p>
         <p>
Our theories and perspective of Management and Enterprise Development solutions are fashioned with the specifics of underdeveloped economic issues in mind, which makes us proactive in process, dynamic in delivery offering unscripted assistance to all. Our unique depth of insight spanning from an eclectic knowledge base, unquenchable passion for learning and a positive culture ensures we are the ones to speak to giving a voice to your aspirations. </p>
<p>
At Rendzina, we give a holistic approach to Enterprise development and project execution. We consider all the variable factors peculiar to our socio-economic environment to provide clients with bespoke solutions that meet their needs satisfactorily. </p>
<p>
We work closely with other organizations within and outside our sector to help provide a wide range of solutions outside our core discipline. We are not afraid to display original thinking and provocative in our novel solutions.
</p>

        </p>

          </div>
     </div>
</section>
