

<section class="slider-section">
     <div class="image-placeholder">

        <div class="inner-text animated flipInX">
            <h3>Our Blog </h3>
          <span class="navs-social">
            <a href="<%= "http://facebook.com/rendzinaltd" %>" target="_blank">
                <i class="fa fa-facebook"></i>
            </a> &nbsp; &nbsp;
            <a href="<%= "http://twitter.com/rendzinaltd" %>" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
            &nbsp; &nbsp;
            <a href="<%= "https://www.linkedin.com/company/5143538?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A5143538%2Cidx%3A1-1-1%2CtarId%3A1461678678178%2Ctas%3ARendzina" %>" target="_blank">
                <i class="fa fa-linkedin"></i>
            </a>
          </span>
            <br/><br/>
            <a href="<%= aboutus_path %>" class="link-design"><b> Read More <i class="fa fa-arrow-circle-right"></i> </b></a> <br/> <br/>
        </div>
     </div>
    <div class="col-md-3">

    </div>
    <div class="clearfix"></div>
    <div style="height: 200px;">

    </div>
</section>

<section class="content-section">

   <div class="container">
     <div class="real-time-contact">
       <h4 class="design" style="padding:0px;margin:0px;"> Contact: </h4><i class="fa fa-phone"></i> <b>+234-90-54-66-0000</b><br/>
       <%= link_to root_path, class: 'send_enq' do %>
          <font class="color-green"><i class="fa fa-envelope-o"></i> Send Enquiry</font>
       <% end %>
     </div>
   </div>
   <div class="container">
     <center>
         <h3 class="design">New Blog Post <br/><i class="fa fa-arrow-circle-down"></i></h3>
         <hr/>

     </center>

     <div class="col-md-4">
       <%= image_tag "blog", width: "80%" %>
      </div>
      <div class="col-md-6">
<%= render 'form' %>

<%= link_to 'Back', posts_path %>

</div>
<div class="clearfix"></div>
</div>
</section>


<section class="testimonies-section">

<div class="container designer" >
      <div style="margin:50px auto;" class="container">
     <center>
         <h3 class="Google-font">Why Rendzina ? </h3>
    </center>
    <p class="justify">

     <p> We are a team of young, energetic, responsive and intuitive thinkers in pursuit of revolutionary changes in our field of endeavor. We work closely with our clients to create the solutions they desire, that suit their intentions and exceed expectations. </p>
     <p>
Our theories and perspective of Management and Enterprise Development solutions are fashioned with the specifics of underdeveloped economic issues in mind, which makes us proactive in process, dynamic in delivery offering unscripted assistance to all. Our unique depth of insight spanning from an eclectic knowledge base, unquenchable passion for learning and a positive culture ensures we are the ones to speak to giving a voice to your aspirations. </p>
<p>
At Rendzina, we give a holistic approach to Enterprise development and project execution. We consider all the variable factors peculiar to our socio-economic environment to provide clients with bespoke solutions that meet their needs satisfactorily. </p>
<p>
We work closely with other organizations within and outside our sector to help provide a wide range of solutions outside our core discipline. We are not afraid to display original thinking and provocative in our novel solutions.
</p>

    </p>

      </div>
 </div>
</section>
