<p id="notice"><%= notice %></p>

<p>
  <strong>Surname:</strong>
  <%= @associate.surname %>
</p>

<p>
  <strong>Other names:</strong>
  <%= @associate.other_names %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @associate.dob %>
</p>

<p>
  <strong>Contact add:</strong>
  <%= @associate.contact_add %>
</p>

<p>
  <strong>Sec institution:</strong>
  <%= @associate.sec_institution %>
</p>

<p>
  <strong>Sec certificate:</strong>
  <%= @associate.sec_certificate %>
</p>

<p>
  <strong>Sec date:</strong>
  <%= @associate.sec_date %>
</p>

<p>
  <strong>Uni institution:</strong>
  <%= @associate.uni_institution %>
</p>

<p>
  <strong>Uni certificate:</strong>
  <%= @associate.uni_certificate %>
</p>

<p>
  <strong>Uni date:</strong>
  <%= @associate.uni_date %>
</p>

<p>
  <strong>Other institution:</strong>
  <%= @associate.other_institution %>
</p>

<p>
  <strong>Other certificate:</strong>
  <%= @associate.other_certificate %>
</p>

<p>
  <strong>Other date:</strong>
  <%= @associate.other_date %>
</p>

<p>
  <strong>Personal statement:</strong>
  <%= @associate.personal_statement %>
</p>

<p>
  <strong>Hobbies:</strong>
  <%= @associate.hobbies %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @associate.telephone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @associate.email %>
</p>

<%= link_to 'Edit', edit_associate_path(@associate) %> |
<%= link_to 'Back', associates_path %>
